<!DOCTYPE html>
<html>
	<head>
		<title>Notorious</title>
		<style type="text/css" media="screen">
			::-webkit-scrollbar {
				display: none;
			}

			body {
				background-color: #2C3844;
				overflow: hidden;
			}

			#editor {
				bottom: 0;
				left: 0;
				margin: 0;
				position: absolute;
				right: 0;
				top: 25px;
			}

			#command-line {
				background-color: #002B36;
				border: none;
				color: #FFFFFF;
				display: block;
				font-size: 14px;
				left: 0;
				margin: 0;
				outline: none;
				padding: 4px;
				position: absolute;
				right: 0;
				top: 0;
			}

			#command-line:focus {
				background-color: #268BD2;
			}

			#command-line::-webkit-input-placeholder{
				color: #FDF6E3;
			}
		</style>
	</head>
	<body>
		<pre id="editor"></pre>
		<input type="text" id="command-line" placeholder="Untitled"/>
		<script src="app://root/lib/ace/ace.js"></script>
		<script src="app://root/lib/ace/theme-solarized_light.js"></script>
		<script src="app://root/lib/ace/ext-split.js"></script>
		<script src="app://root/lib/ace/ext-language_tools.js"></script>
		<script>
				// Constants
			var KEY_TAB = 9,
				KEY_ENTER = 13,
				KEY_REV_APOS = 192,
				// Globals
				cwd = process.cwd(),
				commandLine = document.getElementById('command-line'),
				fs = require('fs'),
				gui = require('nw.gui'),
				nwWindow = gui.Window.get(),
				commands = {
					'help': function() {
						console.log(Object.keys(this));
					},
					'devtools': function() {
						nwWindow.showDevTools();
					},
					'open': {
						run: function (path) {
							if (path && path != '') {
								openFile(resolvePath(path));
							}
						},
						query: function (path) {
							var stats;

							try {
								stats = fs.lstatSync(path);
							} catch (e) {}

							if (stats && stats.isDirectory()) {
								console.log('TODO: list dir contents');
								return [];
							} else if (!stats || (stats && !stats.isFile())) {
								return [resolvePath(path)];
							}
						}
					},
					'read': function () {
						editor.setReadOnly(true);
						editor.setShowPrintMargin(false);
						editor.renderer.setShowGutter(false);
					},
					'edit': function () {
						editor.setReadOnly(false);
						editor.setShowPrintMargin(true);
						editor.renderer.setShowGutter(true);
					}
				};

			/*
			 * Get the path to the user's home folder
			 * independently of the platform
			 *
			 * @return {String} The full path to the home folder
			 */
			function getHomePath() {
				return process.env[(process.platform == 'win32') ? 'USERPROFILE' : 'HOME'];
			}

			/**
			 * Resolves a path to its absolute representation
			 *
			 * @param {String} The path to resolve
			 *
			 * @return {String} The resolved path
			 */
			function resolvePath(path) {
				var p = require('path'),
					parts = path.split('/');

				if (parts[0] == '~') {
					parts[0] = getHomePath();
				} else if (parts[0] == '') {
					parts[0] = p.sep;
				}

				return p.resolve(p.join.apply(null, parts));
			}

			/**
			 * Opens a file in a new session
			 *
			 * @param {String} The path to the file to open
			 */
			function openFile(path) {
				fs.readFile(path, function (err, data) {
					if (err) {
						alert("Read error: " + err);
					} else {
						editor.setSession(ace.createEditSession(String(data)));
						commandLine.placeholder = path
						editor.focus();
					}
				});
			}

			// Load extensions and themes
			var language_tools = ace.require('ace/ext/language_tools'),
				split = ace.require('ace/ext/split'),
				theme = ace.require('ace/theme/solarized_light');

			// Default settings
			var config = ace.require('ace/config');

			config.setDefaultValues('editor', {
				enableBasicAutocompletion: true,
				enableSnippets: true,
				cursorStyle: 'smooth'
			});

			// Initialize editor
			var splits = new split.Split(document.getElementById('editor'), theme, 1),
				editor = splits.getCurrentEditor();

			// Setup
			splits.forEach(function (editor) {
				editor.getSession().setMode('ace/mode/javascript');
			});

			// Forcing the session will keep the splits in sync
			// TODO: detect the document being opened in a split
			// and if it's already opened force the session
			// var session = editor.getSession();
			// splits.setSession(session, 1);

			// Commandline
			commandLine.addEventListener('blur', function (ev){
				ev.target.value = '';
			});

			commandLine.addEventListener('keydown', function (ev) {
				var key = ev.which,
					target = ev.target,
					value = ev.target.value.trim(),
					command,
					params,
					parts,
					run,
					query;

				if (key == KEY_TAB || key == KEY_ENTER) {
					ev.preventDefault();

					if (value) {
						parts = value.split(' ');
						command = commands[parts[0]];
						params = parts.slice(1);
					}
				}

				if (command) {
					run = (command instanceof Function) ? command : command.run;
					query = command.query;

					if (key == KEY_TAB && query) {
console.log(query.apply(commands, params));
					} else if (key == KEY_ENTER && run) {
						run.apply(commands, params);
						target.value = '';
						editor.focus();
					}
				}
			});

			window.addEventListener('resize', function (){
				splits.resize();
			});

			window.addEventListener('load', function () {
				var app = gui.App;

				nwWindow.title = app.manifest.name + " v" + app.manifest.version;
				nwWindow.show();
				splits.focus();
			});

			window.addEventListener('keydown', function (ev) {
				if (ev.which == KEY_REV_APOS && ev.ctrlKey) {
					commandLine.focus();
				}
			});
		</script>
	</body>
</html>
