<!DOCTYPE html>
<html>
	<head>
		<title>Notorious</title>
		<style type="text/css" media="screen">
			::-webkit-scrollbar {
				display: none;
			}

			body {
				overflow: hidden;
			}

			#editor {
				margin: 0;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
		</style>
	</head>
	<body>
		<pre id="editor"></pre>
		<script src="app://notorious/lib/ace/ace.js"></script>
		<script src="app://notorious/lib/ace/ext-language_tools.js"></script>
		<script>
			/*
			 * Get the path to the user's home folder
			 * independently of the platform
			 *
			 * @return string The full path to the home folder
			 */
			function getHomePath() {
				return process.env[(process.platform == 'win32') ? 'USERPROFILE' : 'HOME'];
			}

			window.addEventListener('load', function() {
				require('nw.gui').Window.get().show();
				editor.focus();
			});

			// Enable extensions
			ace.require("ace/ext/language_tools");

			// Initialize editor
			var editor = ace.edit("editor");
			editor.setTheme("ace/theme/twilight");
			editor.getSession().setMode("ace/mode/javascript");

			// Setup
			editor.setOptions({
				enableBasicAutocompletion: true,
				enableSnippets: true
			});
		</script>
	</body>
</html>
